/* NAVIGATION*/
#up {
	width: 40px;
    height: 40px;
 	opacity: 0.3;
 	position: fixed;
 	bottom: 50px;
 	right: 50px;
 	display: none;
 	text-indent: -9999px;
 	background: url('../images/icon_top.png') no-repeat;
 	cursor: pointer;
	z-index: 800;
}

.animation {
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	opacity: 0;
}

.del1 {
	animation-duration: 1s;
	animation-delay: .8s;
	animation-fill-mode: both;
	opacity: 0;
}

.del2 {
	animation-duration: 1s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	opacity: 0;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

.wrap__nav {
	width: 100%;
	height: 72px;
	position: fixed;
	background: rgba(230, 246, 247, .77);
	z-index: 100;
}

.nav {
	display: flex;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav__list {
	display: inline-block;
}

.nav__list li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: -20px;
	color: #2C65AF;
	text-shadow: 0 0 8px #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	top: 28px;
	left: 105px;
	font-weight: bold;
}

.nav__list li:after {
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background-color: #EB611E;
	transition: width 0.5s ease-in-out 0.1s;
}

.nav__list li:hover {
	color: #EB611E;
}

.nav__list li:hover:after {
	width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.nav__list li {
		left: 150px;
		font-size: 20px;
	}
}

.nav-toggle {
	position: fixed;
	display: none;
	text-transform: uppercase;
	font-weight: 800;
	color: #EB611E;
	font-size: 18px;
	right: 51px;
	top: 7px;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 12px;
	cursor: pointer;
	outline: none;
}

.checkbox {
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 1155px) {

	.nav ul {
		display: none;
		top: 72px;
		position: fixed;
		background-color: rgba(230, 246, 247, .77);
		height: 100vh;
		width: 30%;
		right: 0;
	}

	.nav ul li {
		display: block;
		font-size: 16px;
		margin-top: 40px;
		top: 50px;
		left: 20px;
	}

	.nav ul li:hover:after {
  		width: 0%;	
	}

	.nav-toggle {
		display: block;
	}

	.checkbox:checked ~ .nav-toggle {
		color: #EB611E;
		border: 2px solid #EB611E;
	}

	.checkbox:checked ~ .checked {
		display: block;
	}

}


.nav__contacts {
	display: inline-block;
	margin-top: 20px;
	position: absolute;
	top: -12px;
	left: calc(60% + 200px);
}

.nav__contacts img {
	width: 36px;
	height: 36px;
}

.nav__contacts__phone {
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}

.nav__contacts__phone p {
	margin-top: 5px;
}

.nav__contacts__phone p span {
	color: #EB611E;
}

@media screen and (max-width: 1600px) {
	.nav {
		position: relative;
	}

	.nav__contacts {
		background: rgba(230, 246, 247, .77);
		padding: 10px;
		position: relative;
	}

	.nav__contacts::before {
		content: '';
		border: 20px solid transparent;	
		border-top: 24px solid rgba(230, 246, 247, .77); 
		border-right: 20px solid rgba(230, 246, 247, .77);
		position: absolute;
		top: 0px;
		left: -40px;
	}

	.nav__contacts::after {
		content: '';
		border: 20px solid transparent;	
		border-left: 20px solid rgba(230, 246, 247, .77); 
		border-top: 24px solid rgba(230, 246, 247, .77);
		position: absolute;
		top: 0px;
		left: 530px;
	}

	.nav__contacts img {
		display: none;
	}

	.nav__contacts__phone  {
		display: flex;
		width: 500px;
		justify-content: space-between;
	}

	.nav__contacts {
		position: absolute;
		top: 52px;
		left: calc(50% - 250px);
	}
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.nav__contacts {
		top: -15px;
		left: 1440px;
	}

	.nav__contacts__phone p {
		font-size: 20px;
		margin-top: 0;
	}

		.nav__contacts img {
		width: 39px;
		height: 39px;
		margin-top: 0px;
	}

.nav__contacts__phone {
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}

.nav__contacts__phone p {
	margin-top: 5px;
}

.nav__contacts__phone p span {
	color: #EB611E;
}

}

@media screen and (min-width: 320px) and (max-width: 1155px) {
	.nav__contacts {
		display: none;
	}
}


/* BLOCK 1*/

.wrap__head {
	background-image: url(../images/p1.jpg);
	background-size: cover;
	width: 100%;
	height: 800px;
	text-align: center;
}

.head {
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	padding-top: 160px;
	padding-bottom: 400px;
}

.head__p {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #EB611E;
	text-shadow: 1px 1px black;
}

.head__p__item {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #EB611E;
	text-shadow: 1px 1px black;
}

.head__p__description p {
	display: inline-block;
	padding-top: 30px;
	margin-left: 38px;
	margin-right: 38px;
	font-size: 32px;
	color: #EF7B37;
	text-shadow: 1px 1px black;
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.head__p {
		font-size: 62px;
	}

	.head__p__description p {
    	font-size: 45px;
	}

}

.img__product img {
	width: 100%;
	height: auto;
}

.head__products {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.head__product {
	border: 4px solid #6d3677;
	border-radius: 8px;
	background-color: #fff;
	width: 500px;
	overflow: visible;
	min-height: 299px;
}

.b-orange {
	border-color: #eb611e;
}

.head__product-price {
	display: inline-block;
	text-transform: none;
	position: relative;
}

.price {
	font-size: 30px;
	position: absolute;
	border: 4px solid #6d3677;
	border-radius: 13px;
	padding: 9px;
	top: 8px;
	left: 105px;
	z-index: 10;
	background-color: #fff;
	min-width: 212px;
}

.price__des {
	font-size: 14px;
	position: relative;
	top: 6px;
	left: -110px;
}

.violet {
	color: #6d3677;
}

.orange {
	color: #eb611e;
	border-color: #eb611e;
}

@media screen and (max-width: 1025px) {
	.head__product {
		overflow: hidden;
		height: auto;
	}

	.price {
		position: relative;
		padding: 0;
		border: none;
		top: 0;
		left: 0;
	}

	.price__des {
		position: relative;
		top: 0;
		left: 0;
	}

	.head__products {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.head__product {
	border: 4px solid #6d3677;
	border-radius: 8px;
	background-color: #fff;
	overflow: hidden;
	width: 500px;
}

.b-orange {
	border-color: #eb611e;
}

.head__product-price {
	display: inline-block;
	padding-left: 26px;
	text-transform: none;
	position: relative;
}

.head__product-price p {
	color: #EB351E;
	font-size: 30px;
	position: relative;
	left: -90px;
}

.head__product-price p:nth-child(2) {
	font-size: 12px;
	left: 40px;
}

.head__product-price::before {
	content: '';
	display: block;
	position: absolute;
	width: 38px;
	height: 3px;
	background-color: #EB351E;
	top: 15px;
	left: -110px;
}
}


.wrap__container {
	background-image: url(../images/teeth-fon.png);
	background-size: cover;
	background-size: 800px;
	padding: 20px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.product1,
.product2 {
	width: 40%;
	max-width: 650px;
	background-color: rgba(255, 255, 255, .77);
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;	
	
}

@media screen and (max-width: 1112px) {
	.wrap__product {
		text-align: center;
	}

	.product1,
	.product2 {
		width: 75%;
		display: block;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 1920px) and (min-width: 1920px) {
	
}

.product__item {
	font-size: 26px;
	color: #EB351E;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
}

.product__description {
	font-size: 20px;
	color: #2C65AF;
	padding-top: 8px;
	padding-bottom: 8px;
}

.product__items {
	display: inline-block;
	vertical-align: middle;
}

/*.product__priсe {
	display: inline-block;
	padding-left: 26px;
}

.product__priсe p {
	color: #EB351E;
	font-size: 30px;
	padding-left: 26px;
	padding-top: 0;
}

.product__priсe p:nth-child(2) {
	font-size: 12px;
}
*/
.product2 .product__description {
	padding-bottom: 3px;
}

.img {
	width: 400px;
	height: auto;
	position: relative;
	top: 6px;
	margin-left: auto;
	margin-right: auto;
}

.img img {
	width: 100%;
}

.img .product__picture {
	width: 100%;
	height: 100%;
}

.product__about {
	text-align: left;
	padding-top: 7px;
	padding-left: 20px;
	font-size: 18px;
}

.product__about p {
	padding-top: 8px;
	color: #2C65AF;
}

 .box {
    width: 100%;
    max-width: 600px;
    min-height: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

.box2 {
	margin-top: 15px;
	width: 100%;
    max-width: 600px;
    min-height: 0;
    display: block;
    position: relative;
    margin-top: 14px;
    overflow: hidden;
    margin: 0 auto;
}

.box__title {
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #92cef0;
    color: #fff;
    font-size: 18px;
}

.box__title2 {
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #92cef0;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.box__text {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  text-align: left;
}

.box__text2 {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  text-align: left;
}
 
.icon {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 132px;
}

.icon2 {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 31px;
  right: 132px;
}

.icon:before, .icon:after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;
}

.icon:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.icon:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.icon2:before, .icon2:after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;
}

.icon2:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.icon2:after {
  transform: translate(2px, 0) rotate(-45deg);
}

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  right: 10px;
}

input[type=checkbox]:checked ~ div.box__text {
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

input[type=checkbox]:checked ~ div.box__text2 {
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

div.box__text,  i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

div.box__text2,  i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

@media screen and ( min-width: 1920px ) {
	.box2 input[type=checkbox] {
		margin-top: 13px;
	}

	.box__title2 {
		margin-top: 15px;
	}

	.box__title {
		font-size: 20px;
	}
}

table {
	width: 100%;
	text-align: left;
	padding: 0px;
}

td {
	padding: 10px;
	color: #2C65AF;
}

tr:nth-child(even) {
	background-color: #f8ffff;
}

tr:nth-child(odd) {
	background-color: #f5f3fd;
}

@media screen and (min-width: 1920px) {
	.box {
    	width: 100%;
    	max-width: 750px;
	}

	.box2 {
    	width: 100%;
    	max-width: 750px;
	}
}

.struct li {
	padding: 10px;
	padding-left: 35px;
	position: relative;
}

.struct li::before {
	content: '';
	width: 6px;
	height: 6px;
	border: 1px solid #00a2e8;
	border-radius: 3px;
	display: block;
	background-color: #00a2e8;
	position: absolute;
	top: 14px;
	left: 14px;
}

.trig__content {
	max-width: 900px;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, .77);
}

.trig__content h1 {
	font-size: 45px;
	color: #00a2e8;
	padding-top: 115px;
	margin-top: -85px;
	padding-bottom: 20px;
}

.trig__content img {
	width: 100%;
	height: auto;
}

.str2 {
	width: 100%;
	height: auto;
	position: relative;
}

.str2 img {
	width: 100%;
	height: auto;
	position: absolute;
	top: -40px;
}

.wrap__quality {
	background-color: #f5f3fd;
	padding-top: 148px;
}

.quality__triggers {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.quality__text {
	font-size: 20px;
	display: flex;
	max-width: 1275px;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 50px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.qa__text__item {
	color: #2C65AF;
	display: block;
	max-width: 515px;
	padding-top: 20px;
}



.trig {
	display: block;
	padding-bottom: 50px;
}

.trig__text {
	font-size: 20px;
	display: inline-block;
	max-width: 545px;
	text-align: left;
	
}

.trig__img {
	display: inline-block;
	vertical-align: top;
	margin-top: -30px;
	padding-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.trig__text h3 {
	color: #EB611E;
	padding-bottom: 20px;
}

.trig__text p {
	color: #2C65AF;
}

.t2 {
	padding-left: 20px;
}

.wrap__serts {
	width: 100%;
	padding-top: 55px;
	margin-top: 45px;
	text-align: center;
	padding-bottom: 25px;
}

.serts__item {
	font-size: 45px;
	color: #00a2e8;
	padding-top: 78px;
	padding-bottom: 50px;
	font-weight: bold;
	
}

.serts__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	text-align: left;
}

.sert {
	max-width: 500px;
	height: auto;
}

.sert img {
	width: 100%;
	height: auto;
}

.sert__des {
	max-width: 500px;
	padding-top: 100px;
	margin-left: -180px;
}

.sert__des h1 {
	font-size: 38px;
	color: #EB611E;
}

.sert__des p {
	font-size: 29px;
	color: #EB611E;
}

.serts {
	
}

.serts img {
	width: 100%;
	height: auto;
}

.wrap__offer {
	background-color: #f8ffff;
	padding-top: 85px;
	margin-top: -55px;
}

.offer {
	position: relative;
	text-align: center;
}

.offer__title {
	font-size: 50px;
	color: #EB351E;
	font-weight: bold;
	padding-top: 68px;
	padding-left: 215px;
	font-style: italic;
	text-align: left;
}

.offer__title2 {
	font-size: 38px;
	color: #EB351E;
	padding-top: 25px;
	padding-left: 50px;
	font-style: italic;
}

.offer__description {
	width: 330px;
	font-size: 22px;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 35px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: center;
	/*background-color: #e0f3f4;*/
	/*border: 5px solid #38e2e8;*/

}

.offer__description img {
	width: 100%;
}

.offer__description p {
	color: #2C65AF;
	font-size: 22px;
	padding-top: 20px;
}

.offer__description p span {
	text-transform: uppercase;
	color: #EB611E;
}

.wrap__del {
	width: 100%;
	height: 500px;
	padding-top: 55px;
	margin-top: -55px;
}

.wrap__contacts {
	width: 100%;
}

.contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.title__contact {
	font-size: 45px;
	color: #00a2e8;
	padding-top: 128px;
	padding-bottom: 20px;
	text-align: center;
}

.contact {
  max-width: 467px;
  min-width: 320px;
  padding-top: 30px;
  padding-left: 60px;
  display: inline-block;
}
.contact * {
  outline: none;
  border: 0;
  background: none;
}
form fieldset {
  display: block;
  padding: 25px 30px;
}
form .row {
  margin: 0 -15px;
}
form .col-2 {
  width: 50%;
}
form .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
form .row:after {
  content: '';
  display: table;
  clear: both;
}
 form section {
  margin-bottom: 20px;
}
form .input, form .textarea, form .radio, form .checkbox, form .button {
  position: relative;
  display: block;
}
form .fa-append {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 29px;
  height: 29px;
  padding-left: 3px;
  border-left: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ccc;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
  content: "\f007";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-comment:before {
  content: "\f003";
}
form .input .fa-append + input, form .textarea .fa-append + textarea {
  padding-right: 46px;
}
form .input input, form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 8px 10px;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  background: #fff;
  font: 13px/19px sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
form .textarea textarea {
  height: auto;
  resize: none;
  overflow:auto;
}
form .input:hover input,
form .textarea:hover textarea,
form .checkbox:hover i {
   border-color: #ffc34a;
}
form .input input:focus,
form .textarea textarea:focus,
form .checkbox input:focus + i {
	border-color: #ffc34a;
}
form .button {
  float: right;
  height: 39px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 0 20px;
  outline: none;
  border: 0;
  background-color: #EB611E;;
  font: 300 13px/39px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
form .button:hover {
  opacity: 1;
}
@media screen and (max-width: 470px){
	.col, .col-2 { float: none; width: 100%;}
}

.contact__num {
	padding-bottom: 40px;
	padding-top: 30px;
	position: relative;
}

.contact__num::before {
	content: '';
	display: block;
	width: 500px;
	height: 3px;
	background-color: #00a2e8;
	position: absolute;
	top: 128px;
	left: 10px;
}

.contact__num p {
	font-size: 22px;
	font-weight: bold;
	padding-left: 160px;
}

.contact__logo img {
	display: inline-block;
	vertical-align: middle;
}

.contact__logo p {
	font-size: 18px;
	display: inline-block;
	padding-left: 30px;
}

footer {
	height: 30px;
	padding-top: 10px;
	background-color: #252525;
	color: #fff;
	font-size: 11px;
	text-align: center;
}


