.image {
  width: 100%;
  height: auto; }

.body {
  font-family: sans-serif;
  overflow-x: hidden; }

.wrap__header {
  background: url("../images/head1.jpg") no-repeat center top/cover;
  background-color: #BBC0C3;
  height: 900px; }
  .wrap__header .header__bar {
    padding-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .wrap__header .header__bar__logo {
      float: left; }
    .wrap__header .header__bar__tel {
      float: left;
      padding-top: 15px;
      padding-left: 20px;
      margin-left: 25px;
      position: relative; }
      .wrap__header .header__bar__tel::before {
        content: url(../images/phone-icon.png);
        width: 36px;
        height: 36px;
        display: block;
        position: absolute;
        top: 25px;
        left: -25px; }
      .wrap__header .header__bar__tel .tel__number {
        padding-top: 5px;
        padding-right: 40px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-shadow: -1px -1px 0 #09a1e1, 1px -1px 0 #09a1e1, -1px 1px 0 #09a1e1, 1px 1px 0 #09a1e1; }
        .wrap__header .header__bar__tel .tel__number span {
          color: #19F226; }
    .wrap__header .header__bar__nav {
      float: right;
      padding-top: 30px;
      font-size: 18px;
      font-weight: bold; }
  .wrap__header .header .nav {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff; }
    .wrap__header .header .nav__link {
      margin: 0 10px;
      position: relative;
      color: #fff;
      padding: 10px 0; }
      .wrap__header .header .nav__link::after {
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        -o-transition: opacity 0.3s, transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -webkit-transform: translateY(-10px); }
      .wrap__header .header .nav__link:hover::after, .wrap__header .header .nav__link:focus::after {
        opacity: 1;
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px); }
  .wrap__header .header__text {
    text-align: left; }
    .wrap__header .header__text__title {
      font-size: 41px;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-left: 25px;
      padding-top: 41px;
      text-shadow: -1px -1px 0 #6d3677, 1px -1px 0 #6d3677, -1px 1px 0 #6d3677, 1px 1px 0 #6d3677;
      font-family: 'Roboto', sans-serif; }
    .wrap__header .header__text__subtitle {
      text-transform: uppercase;
      padding-left: 350px;
      font-size: 47px;
      font-family: 'Roboto', sans-serif;
      color: #EB611E;
      text-shadow: -1px -1px 0 #6d3677, 1px -1px 0 #6d3677, -1px 1px 0 #6d3677, 1px 1px 0 #6d3677; }
    .wrap__header .header__text__dess {
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #6d3677, 1px -1px 0 #6d3677, -1px 1px 0 #6d3677, 1px 1px 0 #6d3677;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;
      color: #fff; }
      .wrap__header .header__text__dess__des {
        display: inline-block;
        padding-top: 2px;
        padding-left: 20px;
        padding-right: 20px; }
  .wrap__header .header .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .wrap__header .header .flex .header__product {
      margin-left: 8%;
      margin-top: 3%; }
      .wrap__header .header .flex .header__product .product__sl {
        width: 700px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 3px;
        color: #6d3677;
        text-align: center;
        position: relative;
        z-index: 1;
        overflow: visible; }
        .wrap__header .header .flex .header__product .product__sl .sl__slide {
          outline: none; }
          .wrap__header .header .flex .header__product .product__sl .sl__slide__des {
            width: 49%;
            margin-top: -40px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 26px;
            display: inline-block;
            background: rgba(4, 157, 236, 0.1);
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
          .wrap__header .header .flex .header__product .product__sl .sl__slide__price {
            width: 49%;
            margin-top: -40px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 26px;
            display: inline-block;
            background: rgba(4, 157, 236, 0.1);
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            text-transform: uppercase; }
    .wrap__header .header .flex .header__order {
      font-size: 0; }
      .wrap__header .header .flex .header__order .form__order {
        display: block;
        background: rgba(255, 255, 255, 0.7);
        width: 392px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        top: -15%;
        right: 3%;
        z-index: 100; }
        .wrap__header .header .flex .header__order .form__order__title {
          font-size: 29px;
          font-family: "Arial Black";
          font-weight: bold;
          text-transform: uppercase;
          color: #ff2323; }
        .wrap__header .header .flex .header__order .form__order__subtitle {
          font-size: 27px;
          font-family: "Arial Black";
          color: #2dbcff; }
        .wrap__header .header .flex .header__order .form__order__bonus {
          font-size: 29px;
          font-family: "Arial Black";
          font-weight: bold;
          text-transform: uppercase;
          color: #ff2323; }
        .wrap__header .header .flex .header__order .form__order__f {
          width: 89%;
          padding: 10px;
          margin: 10px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          border: none;
          background: rgba(4, 157, 236, 0.1);
          outline: none; }
        .wrap__header .header .flex .header__order .form__order__btn {
          background: -webkit-gradient(linear, left bottom, left top, from(#049dec), to(#05aaff));
          background: -webkit-linear-gradient(bottom, #049dec 0%, #05aaff 100%);
          background: -o-linear-gradient(bottom, #049dec 0%, #05aaff 100%);
          background: linear-gradient(to top, #049dec 0%, #05aaff 100%);
          width: 89%;
          text-align: center;
          font-size: 16px;
          padding: 11px 0;
          text-transform: uppercase;
          border: 0;
          margin: auto;
          display: block;
          cursor: pointer;
          color: #fff;
          font-family: "Arial Black";
          font-weight: bold;
          border-radius: 5px;
          border-bottom: 2px solid #049dec; }
          .wrap__header .header .flex .header__order .form__order__btn:hover {
            background: -webkit-gradient(linear, left bottom, left top, from(#ff2323), to(#fd5050));
            background: -webkit-linear-gradient(bottom, #ff2323 0%, #fd5050 100%);
            background: -o-linear-gradient(bottom, #ff2323 0%, #fd5050 100%);
            background: linear-gradient(to top, #ff2323 0%, #fd5050 100%);
            border-color: #ff2323; }
        .wrap__header .header .flex .header__order .form__order .politconf {
          padding-top: 10px;
          font-size: 10px;
          text-align: center;
          color: #aaa; }
          .wrap__header .header .flex .header__order .form__order .politconf__link {
            cursor: pointer; }
            .wrap__header .header .flex .header__order .form__order .politconf__link:hover {
              border-bottom: 1px dashed #aaa; }

.slick-list {
  overflow: visible; }

.slick-dots {
  bottom: 165px;
  left: -40px; }

.slick-dots li button {
  padding: 0; }

.slick-dots li {
  display: block; }

.product__sl .slick-dots li button:before {
  color: #6d3677;
  font-size: 14px;
  width: 10px;
  height: 10px; }
