@import 'reset.css';

/* animation (jsquery)*/

.animation {
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	opacity: 0;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

/* Блок №1 "INCIDIDUNT BORE" */

.wrap-nav {
	background-color: #02918c;
	width: 100%;
	height: 66px;
	position: fixed;
	z-index: 100;
	}

.myfolio {
	color: #ffffff;
	padding-left: 51px;
	float: left;
}

.myfolio span {
	color: #cfc91d;
}

.myfolio,
span {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 800;
	padding-top: 18px;
	padding-bottom: 23px;
}

.wrap-nav ul {
	right: 44px;
	position: absolute;
}

.wrap-nav ul li {
	/*display: none;*/
	display: inline-block;
	max-width: 900px;
	text-transform: uppercase;
	font-weight: 800;
	color: #ffffff;
	font-size: 12px;
	padding-top: 26px;
	padding-left: 50px;
}

.wrap-nav ul li:after {
    content: '';
    display: block; 
    height: 2px;
  	width: 0%; 
  	background-color: #cfc91d; 
  	transition: width 0.5s ease-in-out 0.1s; 
}

.wrap-nav ul li:hover:after {
  	width: 100%;	
}

.wrap-nav ul li:hover {
	color: #cfc91d;
}

.wrap-nav ul li:active {
	color: #b5b01b;
}

.nav-toggle {
	position: fixed;
	display: none;
	text-transform: uppercase;
	font-weight: 800;
	color: #ffffff;
	font-size: 18px;
	right: 51px;
	top: 7px;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 12px;
	cursor: pointer;
	outline: none;
}

.checkbox {
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px)  {
	.wrap-nav ul {
		display: none;
		top: 66px;
		position: fixed;
		background-color: rgba(0, 0, 0, .7);
		height: 100%;
		width: 30%;
		right: 0;
	}

	.wrap-nav ul li {
		display: block;
		font-size: 16px;
	}

	.wrap-nav ul li:hover:after {
  		width: 0%;	
	}

	.nav-toggle {
		display: block;
	}

	.checkbox:checked ~ .nav-toggle {
		color: #b5b01b;
		border: 2px solid #b5b01b;
	}

	.checkbox:checked ~ .checked {
		display: block;
	}
}

.wrap-page1 {
	text-align: center;
}

.page1 {
	background-image: url('bgi-1.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
 	display: block;
 	padding-top: 210px;
 	color: #ffffff;
 	text-align: center;
}

.page1 p:nth-child(1) {
	font-size: 30px;
	margin-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

.page1 p:nth-child(2) {
	font-size: 68px;
	letter-spacing: 23px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 18px;
}

.page1 p:nth-child(3) {
	font-size: 18px;
	margin-bottom: 52px;
}

.page1 p:nth-child(1),
.page1 p:nth-child(2),
.page1 p:nth-child(3) {
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.page1 p:nth-child(1) {
		font-size: 20px;
	}

	.page1 p:nth-child(2) {
		font-size: 45px;
	}

	.page1 p:nth-child(3) {
		font-size: 15px;
	}
}

.page1 span img {
	margin-bottom: 52px;
	position: relative;
	animation-name: bounce;
	transform-origin: bottom top;
 	animation-duration: 3.5s;
	animation-delay: 2.1s;
	animation-timing-function: ease-in;
  	animation-fill-mode: backwards;
  	animation-iteration-count: infinite;
}

@keyframes bounce {

  0% {
    transform: translate3d(0, 0px, 0);
  }

  20% {
  	opacity: 1;
  }

  60% {
  	opacity: 1;
    transform: translate3d(0, 35px, 0);
  }

  75% {
  	opacity: 1;
    transform: translate3d(0, 15px, 0);
  }

  90% {
  	opacity: 1;
    transform: translate3d(0, 35px, 0);
  }

  100% {
  	opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.page1 span {
	animation-name: opac;
	animation-duration: 3s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

@keyframes opac {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.anim {
    animation-name: slideInLeft;
	animation-duration: 1.6s;
	animation-delay: .4s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.know-more {
	position: relative;
	display: inline-block;
	color: #0b1016;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	background-color: #cfc91d;
	padding-top: 19px;
	padding-bottom: 17px;
	padding-right: 45px;
	padding-left: 44px;
	margin-bottom: 210px;
}

.know-more:after {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color: #0b1016;
	transition: width 0.5s ease-in-out;
}

.know-more:hover:after{
	width: 100%;
}

.know-more:hover {
	transition: background .1s linear;
}

.know-more:active {
	top: 1px;
	background-color: #01847f;
}

/* Блок №2 "ABOUT ME" */

.wrap-page2 {
	width: 100%;
	text-align: center;
}

.page2 p:nth-child(1) {
	padding-top: 98px;
	color: #02918c;
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
}

.page2 p:nth-child(2) {
	padding-top: 32px;
	color: #7e8287;
	font-size: 16px;
}

.page2 p:nth-child(3) {
	padding-top: 36px;
	padding-bottom: 80px;
	color: #7e8287;
	font-size: 16px;
}

.page2 p:nth-child(3) span {
	font-size: 23px;
	width: 875px;
	text-transform: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.page2 p:nth-child(1) {
		font-size: 30px;
		padding-top: 50px;
	}

	.page2 p:nth-child(2) {
		font-size: 13px;
		padding-top: 15px;
	}

	.page2 p:nth-child(3) {
		font-size: 13px;
		padding-top: 15px;
	}
}

.trigger-holder ul li {
	display: inline-block;
	width: 288px;
	color: #7e8287;
	border-right: 1px solid #7e8287;
}

.trigger-holder img {
	padding-top: 35px;
	padding-bottom: 31px;
}

.trigger-holder p:nth-child(2) {
	padding-bottom: 30px;
	font-size: 16px;
}

.trigger-holder p:nth-child(3) {
	font-size: 11px;
	padding-bottom: 57px;
}

.trigger-holder ul li:nth-child(4) {
	border-right: none;
	padding-bottom: 99px;
}

@media screen and (max-width: 1179px) {
	.trigger-holder ul li:nth-child(3){
		border-right: none;
	}
}

@media screen and (max-width: 889px) {
	.trigger-holder ul li:nth-child(2){
		border-right: none;
	}

	.trigger-holder ul li:nth-child(3){
		border-right: 1px solid #7e8287;
	}
}


/* Блок №3 "SERVICES" */

.wrap-page3 {
	position: relative;
	background-color: #f0f0e8;
	width: 100%;
	z-index: 1;
}

.wrap-page3-img {
	position: absolute;
	background-image: url(bgi-2.jpg);
	background-size: cover; 
	width: 50%;
	height: 100%;
	right: 0;
	z-index: -1;
}

.page3 {
	padding-bottom: 84px;
}

.text {
	padding-left: 93px;
}

.text p:nth-child(1) {
	color: #02918c;
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
	padding-top: 74px;
	padding-bottom: 45px;
}

.text p:nth-child(2),
.text p:nth-child(3),
.text p:nth-child(4) {
	font-size: 16px;
	color: #7e8287;
}

.text p:nth-child(2) {
	padding-bottom: 31px;
}

.text p:nth-child(3) {
	padding-bottom: 27px;
}

.triggers {
	max-width: 644px;	
	
}

.trig {
	display: inline-block;
}

.trig p:nth-child(3) {
	font-size: 11px;
	color: #7e8287;
}

.trig p:nth-child(2) {
	font-size: 16px;
	color: #7e8287;
	font-weight: 800;
	padding-bottom: 19px;
}

.trig img {
	padding-top: 59px;
	padding-bottom: 17px;
}

.trig:nth-child(1),
.trig:nth-child(3) {
	padding-left: 95px;
	padding-right: 114px;
}

@media screen and (max-width: 1149px) {
	.wrap-page3-img {
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.text {
		text-align: center;
		padding-left: 0;
	}

	.text p:nth-child(1) {
		font-size: 35px;
		padding-top: 50px;
		padding-bottom: 0px;
	}

	.text p:nth-child(2),
	.text p:nth-child(3),
	.text p:nth-child(4) {
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 0px;
	}
}

/* Блок №4 "MY WORK" */

.wrap-page4 {
	text-align: center;
}

.page4 p:nth-child(1) {
	padding-top: 98px;
	color: #02918c;
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
}

.page4 p:nth-child(2) {
	padding-top: 32px;
}

.page4 p:nth-child(3){
	padding-top: 30px;
	padding-bottom: 27px;
}

.page4 p:nth-child(2),
.page4 p:nth-child(3),
.page4 p:nth-child(4) {
	color: #7e8287;
	font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.page4 p:nth-child(1) {
		font-size: 35px;
		padding-top: 50px;
		padding-bottom: 0;
	}

	.page4 p:nth-child(2),
	.page4 p:nth-child(3),
	.page4 p:nth-child(4) {
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 0;
	}
}

.my-works {
	max-width: 100%;
	margin-top: 78px;
	vertical-align: middle;
	font-size: 0;
	
}

.work {
	position: relative;
	width: 25%;
	display: inline-block;
}

@media screen and (max-width: 1266px) {
	.work {
		width: 33.33%;
	}
}

@media screen and (max-width: 1000px) {
	.work {
		width: 50%;
	}
}

.work img {
  	width: 100%;
  	height: auto;
  	display: block;
}

.hover {
	background-color: rgba(2, 145, 140, 0.85);
	text-align: center;
	width: auto;
	height: auto;
	display: block;
	position: absolute;
	z-index: 1;
	top: 8%;
	bottom: 8%;
	left: 9%;
	right: 9%;
	overflow: hidden;
	transition: .5s;
	transform: rotateY(90deg);
}

.work:hover .hover {
	opacity: 1;
	transition: .5s;
	transform: rotateY(0deg);

}

.hover p:nth-child(1) {
	font-weight: 800;
	text-transform: none;
	font-size: 16px;
	padding-top: 27%;
	color: #fff;
	display: block;	
}

.hover p:nth-child(2) {
	font-size: 13px;
	padding-top: 15px;
	padding-right: 14%;
	padding-left: 14%;
	padding-bottom: 27%;
	color: #fff;
	display: block;
}

@media screen and (max-width: 817px) {
	.hover p:nth-child(1) {
		font-size: 15px;
		padding-top: 20%;
	}
}

/*Блок №5 "CONTACT ME" */

.wrap-page5 {
	text-align: center;
}

.page5 p:nth-child(1) {
	padding-top: 98px;
	color: #02918c;
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
}

.page5 p:nth-child(2) {
	padding-top: 32px;
}

.page5 p:nth-child(3) {
	padding-top: 30px;
	padding-bottom: 27px;
}

.page5 p:nth-child(2),
.page5 p:nth-child(3),
.page5 p:nth-child(4) {
	color: #7e8287;
	font-size: 16px;
}

.page5 p:nth-child(4) {
	padding-bottom: 70px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.page5 p:nth-child(1) {
		font-size: 35px;
		padding-top: 50px;
		padding-bottom: 0;
	}

	.page5 p:nth-child(2),
	.page5 p:nth-child(3),
	.page5 p:nth-child(4) {
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 0;
	}

	.page5 p:nth-child(4) {
	padding-bottom: 35px;
}

}

form {
	background-color: #0b0b0b;
	width: 100%;
}

.form-control {
	color: #7e8287;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	padding-top: 69px;
}

input[type="text"],
textarea {
	width: 641px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #0b0b0b;
	border: none;
	border-bottom: 1px solid #7e8287;
	color: #7e8287;
	text-align: center;
}

input[type="text"], 
textarea:focus {
	outline: none;
}

textarea {
	border-top: 1px solid #7e8287;
	width: 917px;
	min-height: 90px;
}

.form-control:nth-child(3) {
	padding-top: 69px;
}

.form-control:nth-child(4) {
	padding-top: 59px;
}

[type="submit"] {
	position: relative;
	display: inline-block;
	color: #0b1016;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	background-color: #cfc91d;
	width: 196px;
	height: 47px;
	letter-spacing: 3px;
	border: none;
	outline: none;
	margin-bottom: 70px;
	transition: .1s;
	transform: scale(1.0);
}

[type="submit"]:hover {
	transition: .1s;
	transform: scale(1.1);
}

[type="submit"]:active {
	top: 1px;
	background-color: #01847f;
}

@media screen and (max-width: 1096px) {
	input[type="text"] {
		width: 30%;
	}


	textarea {
		width: 50%;
	}
}

/* Footer */

footer p {
	padding-top: 35px;
	padding-bottom: 27px;
	text-align: center;
	color: #7e8287;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #000000;
}





